  <footer class="text-center mt-5 text-muted">
    <p>© 2025 - CRUD App with Node.js, Express & MongoDB</p>
    <p>22671921 - Trương Đăng Vĩnh Hưng</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
